body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
}

.p-footer {
  background: white;
}

.u-image-position--bottom {
  height: 100%;
}

a,
a:link,
a:visited {
  color: #65742f;
}

.p-strip--accent {
  background-color: #eaf1cf;
  color: #111;
}

.p-muted-heading {
  margin: auto;
}

.p-button--brand,
.p-button--brand:link,
.p-button--brand:visited {
  background-color: #eaf1cf;
  border-color: #9fb160;
  color: #111;
}

.p-button--brand:hover {
  background-color: #77883c;
}

@media screen and (min-width: 768px) {
  .u-position--bottom {
    position: absolute; 
    bottom: 20px;
  }
}

p {
  max-width: none;
}